<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <body>
    <form action="/addappointment">
      <input name="date" id="date" type="date" />
      <input name="impression" id="imp" type="text" />
    <br> <br>
    <form action="/med">
      <input name="in" id="name" type="text" />
      <input name="in1" id="quantity" type="text" />
      <input name="in" id="" type="text" />
      <button id="add">Add</button>
    </form>
    <button id="submit">Submit</button>
    </form>
    <ul></ul>
    <script src="test.js"></script>
  </body>
</html>