<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./index.css">
  <title>Page 1</title>

</head>
<body>

  <div class="login-box">
    <h2>ADD PATIENT</h2>
    <form action="/addpatient" class="form" method="POST">
      <div class="user-box">
        <input name="patient[name]" class="input" type="text" id="" required="">
        <label class="label" for="">Patient name</label>
      </div>
      <!-- /.user-box -->
      <div class="user-box">
        <input name="patient[age]" class="input" type="number" id="" required="">
        <label class="label" for="">Age</label>
      </div>
        <div class="user-box">
        <input name="patient[disease]" class="input" type="text" id="" required="">
        <label class="label" for="">Disease</label>
      </div>
 
      <div class="user-box">
      <input name="patient[phone]" class="input" type="number" id="" required="">
      <label class="label" for="">Phone</label>
      </div>
        <div class="user-box">
        <input name="patient[patient_history]" class="input" type="text" id="" required="">
        <label class="label" for="">Patient history</label>
      </div>
      <div class="user-box">
        <p class="xx">First Appointment</p>
        <br>
              <br>
      </div>
      <br>
      <br>
      <div class="user-box">
        <input name="patient[appointments][date]" class="input" type="date" id="">
        <label class="label" for="">Date</label>
      </div>
      <div class="user-box">
        <input name="patient[appointments][symptoms]" class="input" type="text" id="" required="">
        <label class="label" for="">Symptoms</label>
      </div>
      <div class="user-box">
        <input name="patient[appointments][fee]" class="input" type="number" id="" required="">
        <label class="label" for="">Fee</label>
      </div>
      <div class="user-box">
        <input name="patient[appointments][notes]" class="input" type="text" id="" required="">
        <label class="label" for="">Notes</label>
      </div>
        <span></span>
      <button type="submit">Add patient</button>
      </a>
    </form>
  </div>
</body>
</html>
