<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="align-items-center">
<nav><%- include('base') %></nav>
    <div class="align-items-center">
    <form action="/showsearchresults" method = "POST">
        <div class="mb-3">
            <label class="label" class="col-form-label" for="">Patient name</label>
        </div>
        <div class="mb-3">
            <input name="patient[name]" class="form-control" type="text" id="" required="" placeholder="Patient name..">
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>
</body>
</html>